pkgbase = hyprsunset-git
	pkgdesc = An application to enable a blue-light filter on Hyprland
	pkgver = 0.0.1.r8.f535c18
	pkgrel = 1
	url = https://github.com/hyprwm/hyprsunset
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	makedepends = gdb
	makedepends = hyprland-git
	makedepends = hyprwayland-scanner-git>=0.4.0
	depends = wayland
	depends = hyprutils-git>=0.2.3
	depends = wayland-protocols
	provides = hyprsunset
	conflicts = hyprsunset
	source = hyprsunset::git+https://github.com/hyprwm/hyprsunset.git
	sha256sums = SKIP

pkgname = hyprsunset-git
