pkgbase = hyprpolkitagent-git
	pkgdesc = A polkit authentication agent written in QT/QML
	pkgver = 0.1.1.r4.g615efd49
	pkgrel = 1
	url = https://github.com/hyprwm/hyprpolkitagent
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	depends = hyprutils-git
	depends = polkit-qt6
	depends = qqc2-desktop-style
	provides = hyprpolkitagent
	conflicts = hyprpolkitagent
	source = hyprpolkitagent::git+https://github.com/hyprwm/hyprpolkitagent.git
	sha256sums = SKIP

pkgname = hyprpolkitagent-git
