pkgbase = hyprshutdown-git
	pkgdesc = A graceful shutdown utility for Hyprland
	pkgver = 0.1.1.r0.gdb1f38b
	pkgrel = 1
	url = https://github.com/hyprwm/hyprshutdown
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glaze
	depends = hyprtoolkit-git
	depends = hyprutils-git
	depends = pixman
	depends = libdrm
	provides = hyprshutdown=0.1.1
	conflicts = hyprshutdown
	source = hyprshutdown::git+https://github.com/hyprwm/hyprshutdown.git
	sha256sums = SKIP

pkgname = hyprshutdown-git
